<h1>Create New Cycle</h1>
<p class="text-muted">Creates one cycle per group with the same characteristics. Generates matches for all groups.</p>

<%= simple_form_for @round do |f| %>
  <%= f.error_notification %>

  <div class="container">
    <div class="form-group">
      <%= f.input :start_date,
                  label: "Start date",
                  as: :string,
                  input_html: { data: { controller: "datepicker" }, autocomplete: "off" },
                  required: true %>
    </div>

    <div class="form-group">
      <%= f.input :end_date,
                  label: "End date",
                  as: :string,
                  input_html: { data: { controller: "datepicker" }, autocomplete: "off" },
                  hint: "Must be after the start date.",
                  required: true %>
    </div>

    <div class="form-group">
      <%= f.input :weeks,
                   label: "Number of playing weeks",
                   as: :integer,
                   input_html: { min: 1, value: 9 },
                   hint: "All groups will play this many weeks.",
                   required: true %>
    </div>

    <div class="form-group">
      <%= f.input :catch_up_weeks,
                   label: "Catch-up weeks",
                   as: :integer,
                   input_html: { min: 0, value: 3 },
                   hint: "Additional weeks for makeup games. 0 if none." %>
    </div>

    <div class="container text-center mt-3">
      <%= f.button :submit, "Create Cycle for All Groups", class: "btn white-button" %>
      <%= link_to "Cancel", root_path, class: "btn btn-link" %>
    </div>
  </div>
<% end %>
