<h1><%= @group.title %></h1>
<h2 class="fs-3">Add Cycle Details</h2>
<%= simple_form_for @cycle, url: admin_group_cycles_path(@group), method: :post, local: true do |f| %>
  <div class="container">
    <%= f.input :start_date,
    as: :string,
    label: "Start Date",
    input_html: { data: { controller: "datepicker" } }
  %>
    <%= f.input :weeks,
    label: "Number of Play Weeks"
  %>
    <%= f.input :catch_up_weeks,
    label: "Additional Catch-Up Weeks"
  %>
    <div class="container text-center">
      <%= f.submit "Create Cycle", class: "btn white-button mt-3" %>
    </div>
  </div>
<% end %>
