<div id="<%= dom_id cycle %>">
  <p>
    <strong>Start date:</strong>
    <%= cycle.start_date %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= cycle.end_date %>
  </p>

  <p>
    <strong>Weeks:</strong>
    <%= cycle.weeks %>
  </p>

  <p>
    <strong>Group:</strong>
    <%= cycle.group_id %>
  </p>

</div>
