<h1><%= @round.start_date.strftime('%b') %> - <%= @round.end_date.strftime("%b '%Y") %> </h1>
<h1>Leaderboard</h1>

<% @rankings.each_with_index do |ranking, index| %>
  <div class="leaderboard-card">
    <p><%= index + 1 %></p>
    <div class="leaderboard-username">
      <p><%= ranking[:player].username %></p>
    </div>
    <div class="leaderboard-stats">
      <div>
        <i class="fa-solid fa-trophy"></i>
        <p><%= ranking[:wins] %></p>
      </div>
      <div>
        <i class="fa-solid fa-dice"></i>
        <p><%= ranking[:matches_played] %></p>
      </div>
    </div>
  </div>
<% end %>
<%= link_to "Matches", matches_cycle_path(@cycle), class: "btn white-button m-3" %>
<%= link_to "Back to groups", round_path(@round), class: "btn white-button m-3" %>
</div>
