<div id="<%= dom_id match %>">
  <p>
    <strong>Player1:</strong>
    <%= match.player1_id %>
  </p>

  <p>
    <strong>Player2:</strong>
    <%= match.player2_id %>
  </p>

  <p>
    <strong>Player1 score:</strong>
    <%= match.player1_score %>
  </p>

  <p>
    <strong>Player2 score:</strong>
    <%= match.player2_score %>
  </p>

  <p>
    <strong>Winner:</strong>
    <%= match.winner_id %>
  </p>

  <p>
    <strong>Match date:</strong>
    <%= match.match_date %>
  </p>

  <p>
    <strong>Cycle:</strong>
    <%= match.cycle_id %>
  </p>

</div>
