<h1>Submit Match Result</h1>
<h2 class="fs-3"><%= @match.match_date.strftime('%A, %b %d') %></h2>
<%= simple_form_for @match do |f| %>
  <div>
    <div class="form-group">
      <%= f.input :player1_score, label: "#{@match.player1.username}", required: true %>
    </div>
    <div class="form-group">
      <%= f.input :player2_score, label: "#{@match.player2.username}", required: true %>
    </div>
  </div>
  <%= f.submit "Submit Result", class: "btn white-button" %>
<% end %>
