<h1>Your Matches</h1>
<% if @matches.empty? %>
  <div class="container">
    <h3>You don't have any matches yet.</h3>
    <br>
    <h3>Ask the admin to add you to a group or find a player for a social match.</p>
  </div>
<% else %>
  <% @matches.group_by { |m| m.cycle&.round }.each do |round, matches| %>
    <% if round.present? %>
      <div class="mt-4 mb-3">
        <h4 class="text-muted">
          <%= round.start_date.strftime("%b %Y") %> - <%= round.end_date.strftime("%b %Y") %>
        </h4>
        <hr>
      </div>
    <% else %>
      <div class="mt-4 mb-3">
        <h4 class="text-muted">Social Matches</h4>
        <hr>
      </div>
    <% end %>

    <% matches.each do |match| %>
      <div class="match-index-card">
        <p><%= match.match_date&.strftime("%d %b") || "No date" %></p>
        <%= link_to edit_match_path(match), class: "match-card-players" do %>
          <p class="w-25"><%= match.player1.first_name %></p>
          <p><%= match.player1_score ? match.player1_score : '?' %></p>
          <%= image_tag'bg_logo.png', class:"avatar"%>
          <p><%= match.player2_score ? match.player2_score : '?' %></p>
          <p class="w-25"><%= match.player2.first_name %></p>
        <% end %>
      </div>
    <% end %>
  <% end %>
<% end %>
</div>
