<div class="ms-3 mb-4">
  <%= link_to "All Groups", admin_groups_path, class: "btn white-button ms-1" %>
  <h2><%= @group.title %> Members</h2>
  <% @rankings.each_with_index do |ranking, index| %>
    <!--<div class="leaderboard-card">-->
    <%= link_to matches_admin_user_path(ranking[:player]), class:"leaderboard-card" do  %>
      <p><%= index + 1 %></p>
      <div class="leaderboard-username">
        <p><%= ranking[:player].username %></p>
      </div>
      <div class="leaderboard-stats">
        <div>
          <i class="fa-solid fa-trophy"></i>
          <p><%= ranking[:wins] %></p>
        </div>
        <div>
          <i class="fa-solid fa-dice"></i>
          <p><%= ranking[:matches_played] %></p>
        </div>
      </div>
    <!--</div>-->
  <% end %>
<% end %>
<div class="container">
  <% if @latest_cycle %>
    <%= link_to "Matches", admin_cycle_path(@latest_cycle), class: "btn white-button" %>
  <% end %>
  <%= link_to "New Cycle for #{@group.title}", new_admin_group_cycle_path(@group), class: "btn white-button" %>
  <%= link_to "Assign Members", add_members_admin_group_path(@group), class: "btn white-button" %>
</div>
</div>
